{% extends 'base/base.html' %}

{% block content %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>No.Solicitud</td>
			<td>Adoptante</td>
			<td>No.Mascotas</td>
			<td>Razones</td>
			<td>Acciones</td>
		</tr>	
	</thead>
	<tbody>
		{% if object_list %}
		{% for Solicitud in object_list %}
		<tr>
			<td>{{ Solicitud.id }}</td>
			<td>{{ Solicitud.persona }}</td>
			<td>{{ Solicitud.numero_mascotas }}</td>
			<td>{{ Solicitud.razones }}</td>
			<td>
				<a class = "btn btn-primary" href="#">Editar</a>
				<a class = "btn btn-danger" href="#">Eliminar</a>
			</td>		
		</tr>
		{% endfor %}
		{% else %}
			<h1>No hay registro de Solicitudes para adoptar cachorritos</h1>
		{% endif %}
	</tbody>	
</table>

{% endblock %}